# Archivos y carpetas generados automáticamente
node_modules/
npm-debug.log
yarn-error.log

# Archivos de configuración local
.env

# Carpetas específicas de sistemas de construcción
/dist/
/test/
/.next/
/.nuxt/
out/
.nyc_output/

# Archivos de respaldo
*.bak
*.swp
*.swo
*~
